button {
  font-size: 30px;
  font-weight: bold;
  display: block;
  margin: 100px auto 40px;
  color: #dcfbb4;
  background-color: green;
  border: 0.4em solid #d4f7da;
  border-radius: 50%;
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  cursor: pointer;
  text-align: center;
}

button:focus {
  outline: 0;
}

body {
  text-align: center;
}

.radio-buttons {
  margin-bottom: 50px;
}

.seconds {
  max-width: 350px;
  height: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
